<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   EtseTemplate

   Created by Edwin Nel on 2022/05/08.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>AppSecret</key>
    <string>05289a68-c23c-43bb-8792-fab4024e6d16</string>
  </dict>
</plist>
